backend/node_modules
backend/package-lock.json
backend/src1
backend/dist
backend/.env

unitTest/node_modules
unitTest/package-lock.json


ai-interviewer-ace/node_modules
ai-interviewer-ace/package-lock.json
ai-interviewer-ace/.env
